
#home-container {

}

#home-image {
  position: relative;
  width:100%;
  height:600px;
  background: url("http://res.cloudinary.com/dzo2s4ovl/image/upload/v1497471009/santorini_smaller_nr9ffh.jpg") no-repeat fixed center;
  background-size: cover;
}

#home-image #glass-effect {
  position: absolute;
  top:50px;
  left:10%;
  width:300px;
  height:350px;
  border-radius: 10px;
  border-top: 0px solid white;
  border-left: 1px solid rgba(255,255,255,0.2);
  border-bottom: 2px solid rgba(255,255,255,0.6);
  border-right: 2px solid rgba(255,255,255,0.6);
  background-color: rgba(250,250,250,0.1);
  -webkit-filter: blur(1px);
  -moz-filter: blur(1px);
  -o-filter: blur(1px);
  -ms-filter: blur(1px);
  filter: blur(1px);
}

#home-image #title-container {
  position: absolute;
  top:50px;
  left:10%;
  width:300px;
  height:350px;
  z-index:10;
  border-radius: 10px;
}

#home-image #title-container h2 {
  width:100%;
  text-align: center;
  font-size: 2em;
  line-height: 50px;
  margin-top:5px;
}

#home-image #title-container h2 strong {
  font-size: 2em;
}

#home-image #title-container #weather-container {
  background-color: rgba(255,255,255,0.2);
  position: absolute;
  top:150px;
  width:300px;
  margin-left:1px;
  bottom:20px;;
  z-index:5;
}

#weather-icon {
  position: absolute;
  width:150px;
  height:150px;
  top:15px;
  left:72px;
  background: url("http://res.cloudinary.com/dzo2s4ovl/image/upload/v1497473027/Sunny-icon_n9iwha.png") no-repeat center;
  background-size: contain;
}
